<div class="container">
  <h1>Add your personalised cocktail to our list</h1>
  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <div class="buttons d-flex">
    <div class="pr-4">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
    <% end %>
    <div>
      <%= link_to "Go back", cocktails_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
