<div class="container mt-4">
  <div>
   <h1>Check out <strong><%= @cocktail.name %></strong></h1>
  </div>
    <div class="card p-4">
      <div style="display:block; margin:15px"> <!--- include auto to center the picture --->
        <% if @cocktail.photo.attached? %>
        <%= cl_image_tag @cocktail.photo.key, height: 800, width: 600, crop: :fill %> <!-- another option <div id="cocktail-picture" style="background-image: url(<%= url_for(@cocktail.photo) %>)"></div> -->
        <% else %>
        <%= image_tag "cocktail", height: 500, width: 700, crop: :fill %>
        <% end %>
      </div>
      <div class="mb-2 ml-2" style="color: purple"><h2>Find your ingredients:</h2></div>
      <% if @cocktail.doses.empty? %>
        <div><h5 class="ml-2" style="color:red" >Sorry love! You have no ingredients added to your cocktail (yet!)</h5></div>
      <% else %>
          <% @cocktail.doses.each do |dose| %>
            <div><h5 class="ml-2"><%= dose.ingredient.name %> - <%= dose.description %> (<%= link_to "Remove", dose_path(dose), method: :delete %>)</h5></div>
          <% end %>
      <% end %>
    </div>

  </div>
</div>


<%= render 'doses/new', cocktail: @cockail, dose: @dose %>

